html {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .grey {
        color: grey;
    }

    body {
        font-family: Arial, sans-serif;
        header {
            background-image: url("../img/pattern.png");
            background-size: 30%;
            background-color: rgb(0, 130, 244);
            #logo {
                width: 200px;
                margin: 50px 0px 5px 10px;
            }
        }
    }
    main {
        padding: 5px;
        .yellowBg{
            background-color: yellow;
            width: auto;
            height: 100px;
        }
        .blueBg{
            background-color: rgb(41, 121, 196);
        }
        .aquaBg{
            background-color: aqua;
        }
        p {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
        }
        ul {
            font-size: 17px;
            margin: 20px;
            padding-left: 0px;
        }
    }
}