html {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .grey {
        color: grey;
    }
    .blueBg {
        background-color: rgb(41, 121, 196);
    }
    .aquaBg {
        background-color: aqua;
    }

    body {
        header {
            background-image: url("../img/pattern.png");
            background-size: 30%;
            background-color: rgb(0, 130, 244);
            #logo {
                width: 200px;
                margin: 50px 0px 5px 10px;
            }
        }
    }
    main {
        padding: 5px;
        .author{
            color: rgb(66, 208, 255);
        }
        .date{
            font-size: 10px;
            margin-bottom: 15px;
        }
        .caption{
            font-size: 12px;
        }
        .content{
            margin-top: 25px;
            font-weight: bold;
            .highlight{
                background-color: yellow;
            }
        }
        p {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }
        ul {
            font-size: 15px;
            margin: 30px 0 30px 15px;
        }
        table {
            margin-top: 10px;
            width: 100%;
            border-collapse: collapse;
            thead th{
                color: white;
                text-align: left;
            }
            tbody td {
                width: 73px;
            }
        }
    }
    footer {
        padding: 5px;
        h3 {
            margin: 20px 0 10px 0;
        }
        .monitor {
            margin: 0px;
            background-image: url(../img/monitor.jpg);
            background-repeat: no-repeat;
            font-size: 150%;
            font-weight: normal;
            width: 290px;
            height: 215px;
            color: white;
            padding: 10px;
            font-weight: bold;
        }
        .graph {
            margin: 0px;
            background-image: url(../img/graph.jpg);
            background-repeat: no-repeat;
            font-size: 150%;
            font-weight: normal;
            width: 290px;
            height: 215px;
            color: white;
            padding: 10px;
            font-weight: bold;
        }
    }
}